.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
    display: none !important;
}

.swiper-pagination {
    position: initial !important;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.cards__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo__livro {
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
    font-weight: 400;
}

.botoes__item {
    margin: 0 0.5em;
}

.botao__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 50%;
    }

    .swiper-button-prev, 
    .swiper-button-next {
        display: block !important;
        top: 60% !important;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }

}