.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    width: 35px;
    height: 35px;
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao__menu:checked~.lista__menu {
    display: block;
}