hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    font-weight: 400;
}

.lista__rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista__rodape {
        display: block;
    }

    .lista__rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista__rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista__rodape__titulo {
        color: var(--cinza-claro);
        font-size: 14px;
        text-transform: uppercase;
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {

    .lista__rodape {
        border-left: solid 1px var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
    
}