.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.topicos__item {
    margin: 2em 0.5em;
}

@media screen and (min-width: 1024px) {
    
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 24px;
    }

    .topicos__lista {
        width: 70%;
        margin: 2em 0;
    }

    .topicos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1728px) {
    
    .topicos {
        padding: 3em 30vw;
    }

}